<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <script src="https://js.tosspayments.com/v1/payment-widget"></script>
</head>
<body>
<!-- 결제 UI, 이용약관 UI 영역 -->
<div id="payment-method"></div>
<div id="agreement"></div>

<!-- 결제 관련 정보 출력 -->
<p th:text="${amount}"></p>
<p th:text="${requestId}"></p>
<p th:text="${customerKey}"></p>

<!-- 결제하기 버튼 -->
<button id="payment-button">결제하기</button>

<script>
    const button = document.getElementById("payment-button");
    const amount = /*[[${amount}]]*/ [[${amount}]]; // Thymeleaf에서 값 바인딩
    const orderId = '[[${requestId}]]';
    const customerKey = '[[${customerKey}]]';

    // 고객의 고유 아이디를 customerKey로 설정
    const widgetClientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";
    const paymentWidget = PaymentWidget(widgetClientKey, customerKey);

    // 결제 수단 및 이용 약관 렌더링
    paymentWidget.renderPaymentMethods("#payment-method", { value: amount }, { variantKey: "DEFAULT" });
    paymentWidget.renderAgreement("#agreement", { variantKey: "AGREEMENT" });

    button.addEventListener("click", function () {
        paymentWidget.requestPayment({
            orderId: orderId,
            orderName: "TEST ORDER",
            successUrl: window.location.origin + "/open-api/order-requested",
            failUrl: window.location.origin + "/open-api/fail",
            customerEmail: "customer123@gmail.com",
            customerName: "김토스",
            customerMobilePhone: "01012341234",
        });
    });
</script>
</body>
</html>
